

$mainWhiteColor : #f6f7f1;
$mainBlackColor : #262628;
$mainLightGrayColor : #f6f7f1;
$mainDarkGrayColor : #f0eeeb;
$mainOrangeColor : #fc7525;
$mainBlueColor : #0492ad;
$mainBrownCOlor : #85430f;
$mainGoldenrodColor : #fdca6b;
$mainTurquoiseColor : #28e3e2;
$mainGreenColor : #1ca142;


