//here are stored all the css variables for the colors and font type

$mainWhiteColor : #f6f7f1;
$mainBlackColor : #262628;
$mainLightGrayColor : #afafaf;
$mainDarkGrayColor : #6a6b6c;
$mainOrangeColor : #fc7525;
$mainBlueColor : #0492ad;
$mainBrownCOlor : #85430f;
$mainGoldenrodColor : #fdca6b;
$mainTurquoiseColor : #28e3e2;
$mainGreenColor : #1ca142;
